.Weather form {
  position: relative;
  left: 0;
  top: 10px;
  padding: 20px;
}

.Weather .info {
  text-align: center;

  font-size: 25px;
  width: 100%;
  padding: 20px 10px;
}

.Weather .infos {
  text-align: center;

  font-size: 23px;
  width: 100%;
  padding: 20px 10px;
}

.Weather .temperature {
  font-size: 35px;
}

.Weather .details {
  font-size: 15px;
  padding: 30px;
}

.Weather .description {
  text-transform: capitalize;
}

.Weather {
  border-style: 60px;

  border: opacity;
  border-radius: 5px;
  background: radial-gradient(
    circle at -3.3% 48%,
    rgb(141, 146, 239) 0%,
    rgb(99, 229, 254) 90%
  );
}

.Weather .forecast {
  font-size: 15px;
  padding: 50px 30px;
  text-align: center;
  font-weight: bolder;
}

.Weather .temperature-min {
  opacity: 0.5;
}

.Weather .link {
  text-align: center;
  display: block;
  font-family: "Courier New", Courier, monospace;
}

.Weather a {
  text-decoration: none;
}

.Weather a:hover {
  text-decoration: underline;
}
