.Weather form {
  position: relative;
  left: 0;
  top: 10px;
  padding: 20px;
}

.Weather .info {
  text-align: center;
  font-size: 25px;
  width: 100%;
  padding: 20px 10px;
}

.Weather .infos {
  text-align: center;
  font-size: 23px;
  width: 100%;
  padding: 20px 10px;
}

.Weather .temperature {
  font-size: 35px;
}

.Weather .details {
  font-size: 15px;
  padding: 10px;
}

.Weather .description {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.Weather {
  border-color: black;
  border-width: 2px;
  border: 1px solid;
  border-radius: 10px;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.Weather .forecast {
  font-size: 15px;
  padding: 50px 30px;
  text-align: center;
  font-weight: bolder;
}
